body {
  background-color: #282c34;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.link {
  color: #61dafb;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
}

.link:hover {
  background: #61dafb;
  color: #282c34;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
  margin: 0 20px;
}

.dropdown:hover > ul {
  opacity: 1;
}

.dropdown ul li {
  height: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: height .25s ease .1s;
  -moz-transition: height .25s ease .1s;
  -o-transition: height .25s ease .1s;
  -ms-transition: height .25s ease .1s;
  transition: height .25s ease .1s;
}

.dropdown:hover > ul li {
  height: 36px;
  overflow: visible;
  padding: 0;
}

.dropdown ul li a {
  width: 100px;
  padding: 4px 0 4px 40px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #353539;
}

.dropdown ul li:last-child a {
  border: none;
}

  /* Icons */
    
.dropdown .en {
  background: url(../assets/en.svg) no-repeat 6px center;
}

.dropdown .cn {
  background: url(../assets/cn.svg) no-repeat 6px center;
}

.dropdown .jp {
  background: url(../assets/jp.svg) no-repeat 6px center;
}