body {
  background-color: #282c34;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

nav {
  display: flex;
}

nav ul {
	padding: 0;
  margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
  margin: 0 20px;
	display: inline-block;
}

nav a {
	display:inline-block;
	padding:0 10px;	
	color:#61dafb;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
  background: #61dafb;
  color: #282c34;
  cursor: pointer;
}

nav ul ul {
	display: none;
	position: absolute; 
  top: 60px; 
  right: -100px;
}

nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
	width:230px;
	float:none;
	display:list-item;
	position: relative;
}

.en, .cn, .jp {
  cursor: pointer;
}
    
.en:before {
    content: url(../assets/en.svg);
    display: inline-block;
    width: 22px;
    height: 10px;
    margin: 0px 10px;
}

.cn:before {
  content: url(../assets/cn.svg);
  display: inline-block;
  width: 22px;
  height: 10px;
  margin: 0px 10px;
}


.jp:before {
  content: url(../assets/jp.svg);
  display: inline-block;
  width: 22px;
  height: 10px;
  margin: 0px 10px;
}
